* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --ultralight-gray: #aeaeae;
  --light-gray: #9c9c9c;
  --gray: #626262;
  --dark-gray: #484848;
  --orange: #ffa845;
  --radius: 10px;
  --duration: 0.3s;
  --padding-container: 18px;
  --padding-button: 5px;
}

body {
  background-color: var(--ultralight-gray);
  color: var(--white);
  font-family: Arial;
  display: flex;
  height: 100dvh;
  padding-inline: var(--padding-container);
}
button {
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
}
.wrapper {
  margin: auto;
  max-width: fit-content;
  width: 100%;
  border-radius: var(--radius);
  box-shadow: 0 0 10px var(--dark-gray);
}
.screen-result {
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--dark-gray);
  border-radius: var(--radius) var(--radius) 0 0;
  padding: var(--padding-button);
}
.buttons-wrapper {
  display: grid;
  /* grid-area: ; */
}
.btn {
  width: 2rem;
  aspect-ratio: 1;
  user-select: none;
  background-color: var(--gray);
}
.btn:hover {
  filter: brightness(130%);
}
.btn:active {
  filter: brightness(80%);
}
.btn.orange {
  background-color: var(--orange);
}
.btn.light-gray {
  background-color: var(--light-gray);
}
